<?xml version="1.0"?>
<ruleset name="codesniff">
    <description>Code standard</description>

    <file>src/</file>
    <file>tests/</file>

    <arg name="basepath" value="." />
    <arg name="colors" />
    <arg name="tab-width" value="4" />
    <arg name="parallel" value="75" />
    <arg value="np" />

    <!-- Don't hide tokenizer exceptions -->
    <rule ref="Internal.Tokenizer.Exception">
        <type>error</type>
    </rule>

    <!-- Include the whole PSR1 and PSR2 standard -->
    <rule ref="PSR1" />
    <rule ref="PSR2" />

    <!-- Private methods MUST not be prefixed with an underscore -->
    <rule ref="PSR2.Methods.MethodDeclaration.Underscore">
        <type>error</type>
    </rule>

    <!-- Private properties MUST not be prefixed with an underscore -->
    <rule ref="PSR2.Classes.PropertyDeclaration.Underscore">
        <type>error</type>
    </rule>

    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Commenting.Todo" />
    <rule ref="Generic.ControlStructures.InlineControlStructure" />
    <rule ref="Generic.Formatting.DisallowMultipleStatements" />
    <rule ref="Generic.Formatting.SpaceAfterCast" />
    <rule ref="Generic.NamingConventions.ConstructorName" />
    <rule ref="Generic.PHP.DeprecatedFunctions" />
    <rule ref="Generic.PHP.LowerCaseKeyword" />
    <rule ref="Generic.Arrays.ArrayIndent" />

    <!-- Have 12 chars padding maximum and always show as errors -->
    <rule ref="Generic.Formatting.MultipleStatementAlignment">
        <properties>
            <property name="maxPadding" value="12" />
            <property name="error" value="true" />
        </properties>
    </rule>

    <rule ref="Generic.Commenting.Todo.CommentFound">
        <message>Please review this TODO comment: %s</message>
        <severity>3</severity>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="80" />
            <property name="absoluteLineLimit" value="120" />
        </properties>
    </rule>

    <rule ref="Generic.Files.LineLength.MaxExceeded">
        <message>Line contains %2$s chars, which is more than the limit of %1$s</message>
    </rule>

    <rule ref="Generic.Files.LineLength.TooLong">
        <message>Line longer than %s characters; contains %s characters</message>
    </rule>

    <rule ref="Generic.Files.LineEndings">
        <properties>
            <property name="eolChar" value="\n" />
        </properties>
    </rule>

    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" value="var_dump=>null,print=>echo,delete=>unset,create_function=>null" />
        </properties>
    </rule>

</ruleset>
